

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/jquery/dist/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script> -->
    <script src="assets/javascript/socket.io.min.js"></script>
    <script type="text/javascript" src="js/velocity.js"></script>
    <script type="text/javascript" src="assets/javascript/googleMapStyles.js"></script>
    <script src="assets/javascript/store.legacy.min.js"></script>


    {{#compare templateName 'index' operator="=="}}
      <script src="js/index.js" charset="utf-8"></script>
    {{/compare}}
    {{#compare templateName 'game-client' operator="=="}}
    <script type="text/javascript">const GAME_LOCATION = '{{setLocation}}'</script>
    <script src="assets/javascript/nosleep.min.js" charset="utf-8"></script>

     <script src="js/game-client.js" charset="utf-8"></script>
    {{/compare}}
    {{#compare templateName 'game-projection' operator="=="}}
     <script src="js/game-projection.js" charset="utf-8"></script>
    {{/compare}}
    {{#compare templateName 'game-projection-new' operator="=="}}
    <script type="text/javascript">const GAME_LOCATION = '{{setLocation}}'</script>
     <script src="js/game-projection-new.js" charset="utf-8"></script>
     <script type="text/javascript" src="https://spreadsheets.google.com/feeds/list/1SojNwKJj8V0vas9-3jM-ji9UjUa4gMi45ZtOmoofDUM/od6/public/full?alt=json-in-script&amp;callback=gameProjection.convertSpreadsheetToTasksObject"></script>
     <!--<script type="text/javascript" src="https://spreadsheets.google.com/feeds/list/11AYV-VXjoorN01-ZJJ8EnaWS728YR2geLHOYMZ45h98/od6/public/full?alt=json-in-script&amp;callback=gameProjection.convertSpreadsheetToTasksObject"></script>-->

    {{/compare}}

     <script>
     //store.set('user', { name:'Marcus' })
     //store.get('user').name == 'Marcus'
    //  var user = store.get('user');
    //  console.log(user);
     </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHlxpx6stMHjq8ZNPpa5M_py5zd7jJ_ao&callback="></script>
    <script type="text/javascript" src="assets/javascript/infobubble.js"></script>

  </body>
</html>
