{{> header}}

<style media="screen">
  .btn-default{
    background-color: #007c54;
    color: #ffaaaa;
  }
  .btn-default:hover{
    background-color: #ffaaaa;
    color: #007c54;
  }
  h3,h2{
    color:#a967ff
  }
  img{
    height:200px;
  }
  li{
    padding:5px;
  }
  .fsInstructions{
    border: 1px solid #007c54;
    border-radius: 10px;
  }
</style>


</script>


  <!-- <div class="btn-group-vertical" role="group"> -->
  <h3 class="text-center">(Re)Start Location:</h3>
    <a href="http://localhost:8080/game-projection-new?location=commons" class="btn btn-default">Commons</a>
    <a href="http://localhost:8080/game-projection-new?location=westbank" class="btn btn-default">West Bank</a>
    <a href="http://localhost:8080/game-projection-new?location=littleafrica" class="btn btn-default">Little Africa</a>
    <a href="http://localhost:8080/game-projection-new?location=rondo" class="btn btn-default">Rondo</a>
    <a href="http://localhost:8080/game-projection-new?location=littlemekong" class="btn btn-default">Little Mekong</a>
    <a href="http://localhost:8080/game-projection-new?location=lowertown" class="btn btn-default">Lowertown</a>

    <h2 class="text-center">How To Fullscreen:</h2>
    <ol class="fsInstructions">
      <li> Make sure you opened this page in google chrome</li>
      <li>Click 'view' in the menubar</li>
      <li>Make sure that "Always Show Taskbar in Fullsceen" is NOT checked </li>
      <li>Click "Enter Full Screen"</li>
    </ol>

    <h2 class="text-center">view menu example:</h2>
    <center><img src="assets/images/viewmenu.png" alt=""><center>



{{> footer}}