{{> header-game}}
<style>
	@font-face
{
	font-family:'GTWalsheim';
	src:url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold.woff") format("woff"),url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold.ttf") format("truetype")
	font-weight:bold;
	font-style:normal;
}

@font-face
{
	font-family:'GTWalsheim';
	src:url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold-Oblique.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold-Oblique.woff") format("woff"),url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold-Oblique.ttf") format("truetype")
	font-weight:bold;
	font-style:italic;
}



	body
{
	font-family:'GTWalsheim',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	color:white
}
	h1,h2,h3,h4,h5,h6
{
	font-family:'Basis-Grotesque',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight:bold;
	line-height:1.2
}



 body.warning {
      animation: colorchange 1s infinite;
      background-color:rgba(255,0,0,1);
      /* animation-name followed by duration in seconds*/
         /* you could also ue milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 1s infinite; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background-color: rgba(240,90,40,.7);}
      25%  {background-color: rgba(240,90,40,0);}
      50%  {background-color: rgba(240,90,40,.7);}
      75%  {background-color: rgba(240,90,40,0);}
      100% {background-color: rgba(240,90,40,.7);}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background-color: rgba(240,90,40,.7);}
      25%  {background-color: rgba(240,90,40,0);}
      50%  {background-color: rgba(240,90,40,.7);}
      75%  {background-color: rgba(240,90,40,0);}
      100% {background-color: rgba(240,90,40,.7);}
    }




body,html{font-size: 50px;background:url(assets/images/projections/background.png);background-repeat:no-repeat;background-size:contain;background-position:center center;height: 100%; width: 100%;}

.page h1{display:none;color:white;font-size:12px;margin-left:20px; position:absolute;left:16px;top:16px;}
.page{background-color:transparent;overflow:hidden;}
.page .container {margin:0 auto;width:50%;color:black;text-align:center;  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border:2px solid #f15a29;
  background:white;
  height: 559px;
    width: 596px;
  }
  .page .container  .inner-container {
 position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.title-bar{    border-bottom: 2px solid #f15a29;

    color: #f15a29;
    text-align: center;
    height: 54px;
    left: 15px;
    /* width: 100%; */
    position: fixed;
    right: 15px;
    font-size: 33px;}

.footer-bar{
	border-top: 2px solid #f15a29;
	color: #f15a29;
	position:fixed;
	left:0px;
	bottom:0px;
	height:54px;
	font-size: 33px;
	width: 100%;
}

.ticker{
	animation: moveAcross 20s linear infinite;
	position:absolute;
	width:450px;
}

@keyframes moveAcross {
	0%{
		left:-450px;
	}
	100%{
		left:110vw;
	}
}
.currentTask{color:green;}
.title-bar div{margin-top: 3px;}

.prep-time{color:pink;}
.task-time{color:red;}

.page.title {background-color:transparent;background-repeat:no-repeat;background-size:contain;background-position:center center;}


	.page .people ul {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 2.5rem;
     margin-top: 2.5rem;
}
.page .people ul, .page .people ul.portrait {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.page .people ol, .page .people ul, .page .people li {
    list-style: none;
}
.page .people li {
    opacity:0;

}

.page .people li img {
    display:block;
        width: 50%;
    margin: 0 auto;
}
.page .people ul {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
</style>

<div class="page title slideUp" style="">
     <!-- Top Nav Bar -->
     <div class="nav" style="display:none;">
        <a href="#title" id="title"></a>
     	<div class="close glyphicon glyphicon-menu-left" ></div>
     </div>
     <div class="container" style="border:0px;">
        <div class="inner-container">
	    	<img style="width:100%" src="assets/images/projections/title.png">
	    </div>
     </div>
	<h1>Title Screen</h1>
</div>

<div class="page highscores-players">
    <!-- Top Nav Bar -->
    <div class="nav" style="display:none;">
	    <a href="#highscores-players" id="highscores-players"></a>
    	<div class="close glyphicon glyphicon-menu-left"></div>
    </div>
    <div class="container" style="padding-top:0;">
    	<div class="inner-container">
	    	<h2 style="margin-top:0;">High Scores</h2>
	        <p>Player 1 --- 8327</p>
	        <p>Player 2 --- 8327</p>
	        <p>Player 3 --- 8327</p>
	        <p>Player 4 --- 8327</p>
	        <p>Player 5 --- 8327</p>
	        <p>Player 6 --- 8327</p>
	    </div>
     </div>
	<h1>Highscores</h1>
</div>

<div class="page highscores-teams">
     <!-- Top Nav Bar -->
     <div class="nav" style="display:none;">
        <a href="#highscores-teams" id="highscores-teams" ></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
     </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
	    	<h2 style="margin-top:0;">Team Scores</h2>
	        <p>Team 1 --- 1234</p>
	        <p>Team 2 --- 5554</p>
	        <p>Team 3 --- 6566</p>
	        <p>Team 4 --- 7777</p>
	    </div>
     </div>
	<h1>Team Scores</h1>
</div>

<div class="title-bar">
	<div>Collective Action! — <span class="location-title">{{setLocation}}</span></div>

</div>

<div class="footer-bar">
	<div class="ticker">
		Log into joinca.info
		</div>

</div>

<div class="page invite-to-performance-area">
     <!-- Top Nav Bar -->
     <div class="nav" style="display:none;">
        <a href="#invite-to-performance-area" id="invite-to-performance-area"></a>
     	<div class="close glyphicon glyphicon-menu-left" ></div>
     </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p>Come on up Players!!!!!</p>
        </div>
     </div>
	<h1>Teaser</h1>
</div>

<div class="page get-number-of-connections-task-players">
    <!-- Top Nav Bar -->
    <div class="nav" style="display:none;">
        <a href="#get-number-of-connections-task-players" id="get-number-of-connections-task-players"></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
    </div>
    <div class="container" style="width:80%">
        <div class="inner-container">
	        <div class="people">
	            <p>HEY!!!</p>
	        	<!-- <ul>
	        		<li>TEST 1<img src="assets/images/avatars/1.svg"></li>
	        		<li>TEST 2<img src="assets/images/avatars/2.svg"></li>
	        		<li>TEST 3<img src="assets/images/avatars/3.svg"></li>
	        		<li>TEST 4<img src="assets/images/avatars/4.svg"></li>
	        	</ul> -->
	       	</div>
	    </div>
     </div>
	<h1>get-number-of-connections-task-players</h1>
</div>

<div class="page setup-game">
     <!-- Top Nav Bar -->
     <div class="nav"  style="display:none;">
     	<a href="#get-task" id="get-task"></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
     </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p>Getting your task now...</p>
        </div>
     </div>
	<h1>Get Task Animation</h1>
</div>

<div class="page prep-for-task">
     <!-- Top Nav Bar -->
     <div class="nav"  style="display:none;">
     	<a href="#prep-for-task" id="prep-for-task"></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
     </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p class="currentTask"></p>
        	<p> You have <span class="prep-time">30</span> seconds to prep for task</p>
       	</div>
     </div>
	<h1>Prep For Task</h1>
</div>

<div class="page start-task">
    <!-- Top Nav Bar -->
    <div class="nav" style="display:none;">
        <a href="#start-task" id="start-task" ></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
    </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p class="currentTask"></p>
        	<p> You have <span class="task-time">60</span> seconds to complete your task</p>
       	</div>
     </div>
	<h1>Start Task</h1>
</div>

<div class="page end-task">
    <!-- Top Nav Bar -->

    <div class="nav" style="display:none;">
    	<a href="#end-task" id="end-task"></a>
    	<div class="close glyphicon glyphicon-menu-left " ></div>
    </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p>Good Job Everybody!<br>Take a bow!</p>
        </div>
     </div>
	<h1>End Task</h1>
</div>


<div class="page end-score">
    <!-- Top Nav Bar -->

    <div class="nav" style="display:none;">
    	<a href="#end-score" id="end-score"></a>
    	<div class="close glyphicon glyphicon-menu-left " ></div>
    </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p>Each performer scored a point!</p>
        </div>
     </div>
	<h1>Score Task</h1>
</div>

<div class="page reset">
    <!-- Top Nav Bar -->

    <div class="nav" style="display:none;">
    	<a href="#reset" id="reset"></a>
    	<div class="close glyphicon glyphicon-menu-left " ></div>
    </div>
	<h1>End Task</h1>
</div>




<div class="page we-need-more-players">
     <!-- Top Nav Bar -->
     <div class="nav"  style="display:none;">
     	<a href="#we-need-more-players" id="we-need-more-players"></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
     </div>
     <div class="container">
        <p>We Need More players!!!!!</p>
     </div>
	<h1>We need more players</h1>
</div>

<audio id="sound-ding" src="assets/audio/ding.mp3"> </audio>
<audio id="sound-jingle" src="assets/audio/jingle.mp3"> </audio>
<audio id="sound-fanfare" src="assets/audio/fanfare.mp3"> </audio>
<audio id="sound-cheers" src="assets/audio/cheers.mp3"> </audio>

{{> footer}}
