{{> header-game}}

<!--////////////
Queue Page
///////////--->
<div class="page queue waiting-room slideUp">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left " style="display:none;"></div></div>

     <!-- Content -->
     <div class="container">
         Log out This should not be a page but, logout and reload index.hbs
     </div>
</div>

<!--////////////
Game/Prompt Page
///////////--->
<div class="page game prompt">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left " style="display:none;"></div><div class="title">Logout!</div></div>

     <!-- Content -->
     <div class="container">
         Log out This should not be a page but, logout and reload index.hbs
     </div>
</div>


{{> footer}}
