{{> header-game}}

<style>
body,html{font-size: 50px;}
</style>

<div class="currentTask">CLICK FOR NEW TASK</div>

<div class="page">
	<h1>Highscores</h1>
</div>

<div class="page">
	<h1>Team Scores</h1>
</div>

<div class="page">
	<h1>Get ready!!</h1>
</div>

<div class="page">
	<h1>Getting Players animation</h1>
</div>

<div class="page">
	<h1>Get Task animation</h1>
</div>
{{> footer}}
