{{> header-game}}

<!-- <script type="text/javascript">
  /**********************
  LOCATION SPECIFIC ATTRIBUTES
  **********************/
  var locations = ['commons','westbank']
  const GAME_LOCATION = locations[Math.floor(Math.random()*2)]
  console.log(GAME_LOCATION);
</script> -->

<style>
body, html{
     background:white;
     color:black;
}

.page.queue.waiting-room {
    animation: fadein 2s ease-in-out infinite;
    -moz-animation: fadein 2s ease-in-out infinite;/* Firefox */
    -webkit-animation: fadein 2s ease-in-out infinite; /*Safari and Chrome */
    -o-animation: fadein 2s ease-in-out infinite;/* Opera */
}

@keyframes fadein {
     0%{
    /*opacity: .5;*/
    /*background-size: 85%*/
    background-position:center bottom;
  }
  50%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 115%;

  }
  60%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 105%;

  }
  70%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 115%;

  }
  100%{
    /*opacity: .5;*/
    /*background-size: 85%*/
    background-position:center bottom;

  }
}
@-moz-keyframes ffadein {
     0%{
    /*opacity: .5;*/
    /*background-size: 85%*/
    background-position:center bottom;
  }
  50%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 115%;

  }
  60%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 105%;

  }
  70%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 115%;

  }
  100%{
    /*opacity: .5;*/
    /*background-size: 85%*/
    background-position:center bottom;

  }
}
@-webkit-keyframes fadein {
     0%{
    /*opacity: .5;*/
    /*background-size: 85%*/
    background-position:center bottom;
  }
  50%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 115%;

  }
  60%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 105%;

  }
  70%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 115%;

  }
  100%{
    /*opacity: .5;*/
    /*background-size: 85%*/
    background-position:center bottom;

  }
}
@-o-keyframes fadein {
     0%{
    /*opacity: .5;*/
    /*background-size: 85%*/
    background-position:center bottom;
  }
  50%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 115%;

  }
  60%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 105%;

  }
  70%{
    /*opacity:1;*/
    /*background-size: 80%*/
    background-position:center 115%;

  }
  100%{
    /*opacity: .5;*/
    /*background-size: 85%*/
    background-position:center bottom;

  }
}
.page {
    background:white;
    /*background: black;*/
    background:url(assets/images/client/newGame.png);
    background-repeat:no-repeat;
    background-size:auto 85%;
    background-position:center bottom;

}
.page .nav, .btn {
     /*background: black;*/
     background:white;
}

.game, .waiting-room{}
.page .container {display:none;}
.page.my-turn .container {display:block; background:transparent !important;}
.bottomHalf{
  /*height: 50vh;
  margin-top: 65vh;
  padding: 0px 15px 0 15px;
  font-size: 2.5vh;
  color: #1c75ba;
*/
  /*font-size: 13px;*/
}

</style>



<!--////////////
Queue/waiting-room Page
///////////--->
<div class="page queue waiting-room slideUp">
     <!-- Top Nav Bar -->
     <!-- <div class="nav"><div class="close glyphicon glyphicon-menu-left " style="display:none;"></div></div> -->

     <!-- Content -->

     <div class="container bottomHalf">
       <img src="">

     </div>

     <audio class="myTurnAudio" src="assets/audio/ding.mp3"></audio>
</div>

{{> footer}}
