{{> header-game}}
<style>






/*.main
.prompt{ color:#8c99ff }
.number{ color:#c6b700 }*/
	@font-face
{
	font-family:'GTWalsheim';
	src:url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold.woff") format("woff"),url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold.ttf") format("truetype")
	font-weight:bold;
	font-style:normal;
}

@font-face
{
	font-family:'GTWalsheim';
	src:url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold-Oblique.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold-Oblique.woff") format("woff"),url("/assets/fonts/GTWalsheim/GT-Walsheim-Bold-Oblique.ttf") format("truetype")
	font-weight:bold;
	font-style:italic;
}



	body
{
	font-family:'GTWalsheim',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	color:white
}
	h1,h2,h3,h4,h5,h6
{
	font-family:'Basis-Grotesque',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight:bold;
	line-height:1.2
}


.container {
    font-size: 40px;
    padding: 60px;
    padding-bottom: 0px;
}

.page {
    isolation: isolate;
    position: fixed;
    top: 1024px;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100%;
    opacity: 1;
    -webkit-transition: transform 1ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: transform 1ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 1ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform: 1ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translate3d(0, 0, 0);
    /* -webkit-backface-visibility: hidden; */
    background-color: white;
}


 body.warning {
      animation: colorchange 1s infinite;
      background-color:rgba(255,0,0,1);
      /* animation-name followed by duration in seconds*/
         /* you could also ue milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 1s infinite; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background-color: rgba(240,90,40,.7);}
      25%  {background-color: rgba(240,90,40,0);}
      50%  {background-color: rgba(240,90,40,.7);}
      75%  {background-color: rgba(240,90,40,0);}
      100% {background-color: rgba(240,90,40,.7);}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background-color: rgba(240,90,40,.7);}
      25%  {background-color: rgba(240,90,40,0);}
      50%  {background-color: rgba(240,90,40,.7);}
      75%  {background-color: rgba(240,90,40,0);}
      100% {background-color: rgba(240,90,40,.7);}
    }




body,html{font-size: 50px;background:url(assets/images/projections/background.png);background-repeat:no-repeat;background-size:contain;background-position:center center;height: 100%; width: 100%;}

.page h1{display:none;color:white;font-size:12px;margin-left:20px; position:absolute;left:16px;top:16px;}
.page{background-color:transparent;overflow:hidden;}
.page .container {margin:0 auto;width:50%;color:black;text-align:center;  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border:3px solid #f15a29;
  background:white;
  height: 680px;
    width: 680px;
  }
  .page .container  .inner-container {
 position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.title-bar{    border-bottom: 3px solid #f15a29;
    text-transform: uppercase;
    color: #f15a29;
    text-align: center;
    height: 54px;
    left: 0px;
    background:white;
    /* width: 100%; */
    position: fixed;
    right: 0px;
    font-size: 33px;}

.footer-bar{
	border-top: 3px solid #f15a29;
	color: #f15a29;
	position:fixed;
  background:white;
	left:0px;
	bottom:0px;
	height:54px;
	font-size: 33px;
	width: 100%;
}

.ticker{
	/*animation: moveAcross 10s linear infinite;*/
	position:absolute;
	text-align: center;
	width:100vw;
}

@keyframes moveAcross {
	0%{
		left:0px;
	}
	50%{
		left:30vw;
	}
	100%{
		left:0px;
	}
}

.title-bar div{margin-top: 3px;}

.prep-time{color:pink;}
.task-time{color:red;}

.page.title {background-color:transparent;background-repeat:no-repeat;background-size:contain;background-position:center center;}


	.page .people ul {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.page .people ul, .page .people ul.portrait {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.page .people ol, .page .people ul, .page .people li {
    list-style: none;
}
.page .people li {
    opacity:0;

}

.page .people li img {
    display:block;
        width: 50%;
    margin: 0 auto;
}
.page .people ul {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.prep-time-text, .currentTask{
	line-height: 1.25em;
}

/*********
Custom Location CSS
*********/
body.littleafrica{color:#f4891e;}
body.littleafrica .title-bar {border-bottom: 3px solid  #f4891e; color: #f4891e;}
body.littleafrica .footer-bar {border-top: 3px solid  #f4891e; color: #f4891e;}
body.littleafrica .page .container { border: 3px solid  #f4891e; color:#8bc53f;}
body.littleafrica .page .container .prep-time-text { color:#f4891e;}
body.littleafrica .page .container .prep-time-text .prep-time {color: #ffaaaa;}
body.littleafrica .page .container .prep-time-text .task-time {color: #ffaaaa;}
body.littleafrica .page .container .currentTask{color:#8bc53f;}
body.littleafrica .page .container .title{color:#f4891e;}

body.westbank{color:#f05a28;}
body.westbank .title-bar {border-bottom: 3px solid  #f05a28; color: #f05a28;}
body.westbank .footer-bar {border-top: 3px solid  #f05a28; color: #f05a28;}
body.westbank .page .container { border: 3px solid  #f05a28; color:#8c99ff;}
body.westbank .page .container .prep-time-text { color:#f05a28;}
body.westbank .page .container .prep-time-text .prep-time {color: #c6b700;}
body.westbank .page .container .prep-time-text .task-time {color: #c6b700;}
body.westbank .page .container .currentTask{color:#8c99ff;}
body.westbank .page .container .title{color:#f05a28;}

body.commons{color:#8c99ff;}
body.commons .title-bar {border-bottom: 3px solid  #8c99ff; color: #8c99ff;}
body.commons .footer-bar {border-top: 3px solid  #8c99ff; color: #8c99ff;}
body.commons .page .container { border: 3px solid  #8c99ff; color:#8c99ff;}
body.commons .page .container .prep-time-text { color:#8c99ff;}
body.commons .page .container .prep-time-text .prep-time {color: #f4891e;}
body.commons .page .container .prep-time-text .task-time {color: #f4891e;}
body.commons .page .container .currentTask{color:#28b572;}
body.commons .page .container .title{color:#8c99ff;}

body.littlemekong{color:#0caaff;}
body.littlemekong .title-bar {border-bottom: 3px solid  #0caaff; color: #0caaff;}
body.littlemekong .footer-bar {border-top: 3px solid  #0caaff; color: #0caaff;}
body.littlemekong .page .container { border: 3px solid  #0caaff; color:#0caaff;}
body.littlemekong .page .container .prep-time-text { color:#0caaff;}
body.littlemekong .page .container .prep-time-text .prep-time {color: #ffaaaa;}
body.littlemekong .page .container .prep-time-text .task-time {color: #ffaaaa;}
body.littlemekong .page .container .currentTask{color:#c6b700;}
body.littlemekong .page .container .title{color:#0caaff;}

body.lowertown{color:#8bc53f;}
body.lowertown .title-bar {border-bottom: 3px solid  #8bc53f; color: #8bc53f;}
body.lowertown .footer-bar {border-top: 3px solid  #8bc53f; color: #8bc53f;}
body.lowertown .page .container { border: 3px solid  #8bc53f; color:#8bc53f;}
body.lowertown .page .container .prep-time-text { color:#8bc53f;}
body.lowertown .page .container .prep-time-text .prep-time {color: #f4891e;}
body.lowertown .page .container .prep-time-text .task-time {color: #f4891e;}
body.lowertown .page .container .currentTask{color:#0caaff;}
body.lowertown .page .container .title{color:#8bc53f;}


body.rondo{color:#28b572;}
body.rondo .title-bar {border-bottom: 3px solid  #28b572; color: #28b572;}
body.rondo .footer-bar {border-top: 3px solid  #28b572; color: #28b572;}
body.rondo .page .container { border: 3px solid  #28b572; color:#28b572;}
body.rondo .page .container .prep-time-text { color:#28b572;}
body.rondo .page .container .prep-time-text .prep-time {color: #f9bc00;}
body.rondo .page .container .prep-time-text .task-time {color: #f9bc00;}
body.rondo .page .container .currentTask{color:#8c99ff;}
body.rondo .page .container .title{color:#28b572;}

body.commons { color:#ef5928; }
body.westbank {}



body.rondo {}
body.littlemekong {}
body.lowertown {}

.align-left{float:left;}
.align-right{float:right;}
.teamScoreBoard {font-size: 55px;padding-left: 80px;padding-right: 80px;line-height:1em;}
</style>

<div class="page title slideUp" style="">
     <!-- Top Nav Bar -->
     <div class="nav" style="display:none;">
        <a href="#title" id="title"></a>
     	<div class="close glyphicon glyphicon-menu-left" ></div>
     </div>
     <div class="container" style="border:0px;">
        <div class="inner-container">
	    	<img style="width:100%" src="assets/images/projections/title.png">
	    </div>
     </div>
	<h1>Title Screen</h1>
</div>

<div class="page highscores-players">
    <!-- Top Nav Bar -->
    <div class="nav" style="display:none;">
	    <a href="#highscores-players" id="highscores-players"></a>
    	<div class="close glyphicon glyphicon-menu-left"></div>
    </div>
    <div class="container" style="padding-top:0;">
    	<div class="inner-container">
	    	<h2 style="margin-top:0;">High Scores</h2>
				<div class="scoreBoard">calculating scores...</div>
	    </div>
     </div>
	<h1>Highscores</h1>
</div>

<div class="page highscores-teams">
     <!-- Top Nav Bar -->
     <div class="nav" style="display:none;">
        <a href="#highscores-teams" id="highscores-teams" ></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
     </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
	    	<h2 style="margin-top:0;text-transform:uppercase;font-size:20px;margin-bottom:40px;" class="title">Team Scores</h2>
				<div class="teamScoreBoard">calculating scores...</div>
	    </div>
     </div>
	<h1>Team Scores</h1>
</div>

<div class="title-bar">
  <div class="col-lg-4" style="font-size: 20px;margin-top: 13px;"><img class="location-icon" src="" style="    height: 24px;margin-right: 7px;top:-3px;"><span class="location-title">{{setLocation}}</span></div>
	<div class="col-lg-4">Collective Action!</div>
  <div class="col-lg-4" style="font-size: 20px;margin-top: 13px;">#collectiveaction</div>
</div>

<div class="footer-bar">
	<div class="ticker">
		Sign up to play: JoinCollectiveAction.com
		</div>

</div>

<div class="page invite-to-performance-area">
     <!-- Top Nav Bar -->
     <div class="nav" style="display:none;">
        <a href="#invite-to-performance-area" id="invite-to-performance-area"></a>
     	<div class="close glyphicon glyphicon-menu-left" ></div>
     </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p>Players: Come on up!</p>
        </div>
     </div>
	<h1>Teaser</h1>
</div>

<div class="page get-number-of-connections-task-players">
    <!-- Top Nav Bar -->
    <div class="nav" style="display:none;">
        <a href="#get-number-of-connections-task-players" id="get-number-of-connections-task-players"></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
    </div>
    <div class="container" style="width:80%">
        <div class="inner-container">
	        <div class="people">
	            <p>HEY!!!</p>
	        	<!-- <ul>
	        		<li>TEST 1<img src="assets/images/avatars/1.svg"></li>
	        		<li>TEST 2<img src="assets/images/avatars/2.svg"></li>
	        		<li>TEST 3<img src="assets/images/avatars/3.svg"></li>
	        		<li>TEST 4<img src="assets/images/avatars/4.svg"></li>
	        	</ul> -->
	       	</div>
	    </div>
     </div>
	<h1>get-number-of-connections-task-players</h1>
</div>

<div class="page setup-game">
     <!-- Top Nav Bar -->
     <div class="nav"  style="display:none;">
     	<a href="#get-task" id="get-task"></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
     </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p>Getting your task now...</p>
        </div>
     </div>
	<h1>Get Task Animation</h1>
</div>

<div class="page prep-for-task">
     <!-- Top Nav Bar -->
     <div class="nav"  style="display:none;">
     	<a href="#prep-for-task" id="prep-for-task"></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
     </div>
     <div class="container" style="padding-top:0;">
          <p class="prep-time-text" style="position: absolute;top: 25px;left: 0;width: 100%;"> Prepare for your action: <span class="prep-time ">30</span></p>
        <div class="inner-container">
        	<p class="currentTask"></p>

       	</div>
     </div>
	<h1>Prep For Task</h1>
</div>

<div class="page start-task">
    <!-- Top Nav Bar -->
    <div class="nav" style="display:none;">
        <a href="#start-task" id="start-task" ></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
    </div>
     <div class="container" style="padding-top:0;">
     <p class="prep-time-text" style="position: absolute;top: 25px;left: 0;width: 100%;">   Act: <span class="task-time">60</span></p>
        <div class="inner-container">
          <p class="currentTask"></p>
        </div>

     </div>
	<h1>Start Task</h1>
</div>

<div class="page end-task">
    <!-- Top Nav Bar -->

    <div class="nav" style="display:none;">
    	<a href="#end-task" id="end-task"></a>
    	<div class="close glyphicon glyphicon-menu-left " ></div>
    </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p>Great job, players! Points for everyone!</p>
        </div>
     </div>
	<h1>End Task</h1>
</div>


<div class="page end-score">
    <!-- Top Nav Bar -->

    <div class="nav" style="display:none;">
    	<a href="#end-score" id="end-score"></a>
    	<div class="close glyphicon glyphicon-menu-left " ></div>
    </div>
     <div class="container" style="padding-top:0;">
        <div class="inner-container">
        	<p>Each performer scored a point!</p>
        </div>
     </div>
	<h1>Score Task</h1>
</div>

<div class="page reset">
    <!-- Top Nav Bar -->

    <div class="nav" style="display:none;">
    	<a href="#reset" id="reset"></a>
    	<div class="close glyphicon glyphicon-menu-left " ></div>
    </div>
	<h1>End Task</h1>
</div>




<div class="page we-need-more-players">
     <!-- Top Nav Bar -->
     <div class="nav"  style="display:none;">
     	<a href="#we-need-more-players" id="we-need-more-players"></a>
     	<div class="close glyphicon glyphicon-menu-left"></div>
     </div>
     <div class="container">
        <p>We Need More players!!!!!</p>
     </div>
	<h1>We need more players</h1>
</div>

<audio id="sound-ding" src="assets/audio/ding.mp3"> </audio>
<audio id="sound-jingle" src="assets/audio/jingle.mp3"> </audio>
<audio id="sound-fanfare" src="assets/audio/fanfare.mp3"> </audio>
<audio id="sound-cheers" src="assets/audio/cheers.mp3"> </audio>


{{> footer}}
