{{> header}}
<!--////////////
Loading Page
///////////--->
<div class="page loading hidden">
     <div class="text-container" style="position: relative;top: 50%;transform: translateY(-50%);">
	       <div class="loading-container"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
	            <br>Loading...<span class="this-forces-font-to-load" style="position:absolute;opacity:0;width:0;overflow:hidden"><strong><i>l</i></strong></span>
	       </div>
	  </div>
</div>

<!--////////////
Intro Page
///////////--->
<div class="page intro slideUp">
     <!-- Top Nav Bar  // Hidden because the close button is required for my code to close panel-->
     <div class="nav" style="display:none;"><div class="close glyphicon glyphicon-menu-left"></div><div class="title">Intro</div></div>
     <!-- Content -->
     <div id="carousel-intro" class="carousel slide" data-ride="carousel" data-interval="false">

          <!-- Indicators -->
          <ol class="carousel-indicators">
               <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-example-generic" data-slide-to="1"></li>
               <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               <li data-target="#carousel-example-generic" data-slide-to="3"></li>
               <li data-target="#carousel-example-generic" data-slide-to="4"></li>
               <li data-target="#carousel-example-generic" data-slide-to="5"></li>

          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
               <div class="item active">
                    <div class="container">
                         <img src="assets/images/intro/avatar_68.png" alt="...">
                         <div class="carousel-caption">Welcome to Collective Action!<br><br><span style="opacity:.5">Swipe to learn more.</span></div>
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/space2.png" alt="...">
                         <div class="carousel-caption"><strong><i>Collective Action!</i></strong> is a performance based game project which uses a mobile website and large scale projection to invite groups of players to perform simple collective actions thematically related to the causes of, and solutions for climate change.</div>
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/space.png" alt="...">
                         <div class="carousel-caption">Go to one of the 7 Northern Spark locations; name, name, name, name, name, name, and name.</div>
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/space.png" alt="...">
                         <div class="carousel-caption"> With your mobile phone, open up your browser and go to <strong>something.info</strong> and check in to your location to queue/play.</div>
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/space.png" alt="...">
                         <div class="carousel-caption">When its your turn your, phone will blink, and ask you to come to the stage to perform your task to score points!</div>
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/space.png" alt="...">
                         <div class="carousel-caption">Stay at a location to score more points or go to another!</div>
                    </div>
               </div>


          </div>
     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row">
               <div class="col-xs-6">
                    <a class="btn btn-default more-details" style="width:100%;" href="#login">Login</a>
               </div>
               <div class="col-xs-6">
                    <a class="btn btn-default more-details" style="width:100%;" href="#sign-up" >Sign Up</a>
               </div>
          </div>
     </div>
</div>






<!--////////////
Signup Page
///////////--->
<div class="page sign-up">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left"></div><div class="title">Let's get started </div></div>
     <!-- Content -->

     <!-- Content -->
     <div id="carousel-sign-up" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
               <div class="item email-sign-up active">
                    <div class="container">
                         <p>What's your email address?</p>
                         <div class="form-group">
                              <input type="text" class="form-control email-address" placeholder="Email">
                              <div class="alert alert-danger alert-regular" style="text-align:center">A user with this email already exists.</div>
                         </div>
                    </div>
               </div>
               <div class="item username-sign-up">
                    <div class="container">
                         <p>What would you like your username to be?</p>
                         <div class="form-group">
                              <input type="text" class="form-control username" placeholder="Username">
                              <div class="alert alert-danger alert-profane" style="text-align:center">This username looks to contain profanity. Please try a new one.</div>
                              <div class="alert alert-danger alert-regular" style="text-align:center">Username is unavailable.</div>
                         </div>
                    </div>
               </div>
               <div class="item avatar-sign-up">
                    <div class="container">
                         <p>Generate your character.</p>
                         <img class="regenerate-avatar-image" src="assets/images/intro/avatar_68.png" alt="...">
                         <div class="row">
                              <div class="col-xs-1">&nbsp;</div>
                              <div class="col-xs-10">
                                   <a class="btn btn-default regenerate-avatar-btn"> <div class="glyphicon glyphicon-repeat"></div> Regenerate your avatar</a>
                              </div>
                              <div class="col-xs-1">&nbsp;</div>
                         </div>
                    </div>
               </div>
               <div class="item confirmation-sign-up">
                    <div class="container">
                         <div class="carousel-caption">Your character is named blank and you are on team. Click save to create your account.</div>
                    </div>
               </div>
          </div>
     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row sign-up-button-container disable">
               <div class="col-xs-6">
                    <a class="btn btn-default sign-up-back-btn carousel-sign-up-btn" style="width:100%;" href="#back" onclick="signUpCarouselDirection = 'left'; $('#carousel-sign-up').carousel('prev');">Back</a>
               </div>
               <div class="col-xs-6">
                    <a class="btn btn-default sign-up-continue-btn carousel-sign-up-btn" style="width:100%;" href="#continue" >Continue</a>
               </div>
          </div>
     </div>
</div>


<!--////////////
Homescreen Page
///////////--->
<div class="page homescreen slideUp">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left" style="display:none;"></div><div class="title" style="margin-left: 0;text-align: center;">Collective Action!</div></div>

     <!-- Content -->
     <div class="container" style="text-align: center;">
          <p>Your Name here</p>
          <img class="regenerate-avatar-image" src="assets/images/intro/avatar_68.png" alt="..." style="height:400px;">
          <a class="btn btn-default more-details" style="width:100%;" href="#help" >You are near UCLA!</a>


     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row">
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#help" ><span class="glyphicon glyphicon-question-sign"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#scoreboard"><span class="glyphicon glyphicon-th-list"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#map" ><span class="glyphicon glyphicon-map-marker"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details logout" style="width:100%;" href="#log-out"><span class="glyphicon glyphicon-log-out"></span></a>
               </div>
          </div>
     </div>
</div>


<!--////////////
Login Page
///////////--->
<div class="page login" style="z-index:9999;">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left"></div><div class="title">Login in to your account</div></div>
     <!-- Content -->
     <div class="container">
          <p>Use your email to login and retrieve your avatar!</p>
     	<div class="form-group">
         	     <input type="text" class="form-control email-address login" placeholder="Email">
       	</div>
     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row login-in-button-container disable">
               <a class="btn btn-default btn-primary login-continue-btn carousel-login-btn" style="width:100%;" href="#login" >Login</a>
          </div>
     </div>
</div>


<!--////////////
Map Page
///////////--->
<div class="page scrollable help">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left"></div><div class="title">Help</div></div>

     <!-- Content -->
     <div class="container">
          <p><i>Collective Action!</i> invites you to work together with other participants to perform creative, collective actions responding to climate change issues. Start by using your phone to explore the Collective Action! mobile website, create a unique avatar, join a team, navigate to our physical game sites (located at multiple Northern Spark hubs), and prepare to perform! For every action you perform over the course of the night, you’ll earn a point for yourself and your team, which you can track on the website’s game leaderboard.</p>

          <p>Each <i>Collective Action!</i> game site will activate the climate change theme for its given Northern Spark location, making each instance of Collective Action! a completely unique experience in performance and play. At the Collective Action! site in the water-themed location Little Mekong, you might work together with the entire audience to perform a rainstorm, or with two or three other players to envision a futuristic water-filtration system! </p>

          <p></i>Collective Action!</i> draws inspiration from the expansive history of non-competitive group games ranging from the New Games Foundation, to fluxus experiments and performances, and earth day activities. Explore: how can your actions as an individual have a larger impact when they are performed in collaboration with others?</p>
     </div>

</div>

<!--////////////
Scoreboard
///////////--->
<div class="page scoreboard">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left"></div><div class="title">Scoreboard</div></div>

     <!-- Content -->
     <div class="container">
          Scoreboard Scoreboard Scoreboard
     </div>
</div>


<!--////////////
Map Page
///////////--->
<div class="page map">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left"></div><div class="title">Map</div></div>

     <!-- Content -->
     <div id="map" ></div>

</div>


<!--////////////
Log out Page
///////////--->
<div class="page log-out">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close glyphicon glyphicon-menu-left "></div><div class="title">Logout!</div></div>

     <!-- Content -->
     <div class="container">
          Log out This should not be a page but, logout and reload index.hbs
     </div>
</div>

<!--////////////
Iframe to Games
///////////--->
<div class="artwork close glyphicon glyphicon glyphicon-remove"></div>
<iframe class="iframe project-slide-panel" data-fake-src="fake.html" src="fake.html" >
     <!--<video id="vimeoVideo" loop>
     <source src="https://player.vimeo.com/external/178906480.hd.mp4?s=6ecece6b3a4588df24840ee1cc0d9ff11dcabe89&profile_id=174" type="video/mp4">
     <source src="https://player.vimeo.com/external/178906480.m3u8?s=e9c0fd0b5c7f98ca394740ec23579bc03d36fa8d" type="application/x-mpegURL"></video>-->
   </iframe>


{{> footer}}
