{{> header}}
<!--////////////
Loading Page
///////////--->



<div class="page loading">
     <div class="text-container" style="position: relative;top: 50%;transform: translateY(-50%);">
	       <div class="loading-container"><img class="glyphicon-refresh-animate" src="assets/images/loading-screen/loading_sun.png">
	            <br>Loading...<span class="this-forces-font-to-load" style="position:absolute;opacity:0;width:0;overflow:hidden"><strong><i>l</i></strong></span>
	       </div>
	  </div>
</div>

<!--////////////
Intro Page
///////////--->
<div class="page intro slideUp">
      <div class="intro-header" >
          <div class="nav">
               <div class="col-xs-6">
                    <a class="btn btn-default more-details" style="width:100%;" href="#login">Login</a>
               </div>
               <div class="nav-divider"></div>
               <div class="col-xs-6">
                    <a class="btn btn-default more-details" style="width:100%;" href="#sign-up" >Sign Up</a>
               </div>
          </div>
     </div>

     <!-- Top Nav Bar  // Hidden because the close button is required for my code to close panel-->
     <div class="nav" style="display:none;"><div class="close "></div><div class="title">Intro</div></div>
     <!-- Content -->
     <div id="carousel-intro" class="carousel slide" data-ride="carousel" data-interval="false">

          <!-- Indicators -->
          <ol class="carousel-indicators">
               <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-example-generic" data-slide-to="1"></li>
               <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               <li data-target="#carousel-example-generic" data-slide-to="3"></li>
               <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
               <div class="item active">
                    <div class="container">
                         <img src="assets/images/intro/intro1.png" alt="...">
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/intro2.png" alt="...">
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/intro3.png" alt="...">
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/intro4.png" alt="...">
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <a class="more-details" href="#sign-up">
                              <img src="assets/images/intro/intro5.png" alt="...">
                         </a>
                    </div>
               </div>

          </div>
     </div>

     <!-- Footer -->

</div>






<!--////////////
Signup Page
///////////--->
<div class="page sign-up">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Let's get started </div></div>
     <!-- Content -->

     <!-- Content -->
     <div id="carousel-sign-up" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
               <div class="item email-sign-up active">
                    <div class="container">
                         <div>
                         <p>What's your email address?</p>
                         
                         <div class="form-group">
                              <input class="form-control email-address" placeholder="Email"  type="Email">
                              <p style="margin-top:16px;font-size:14px;color:#8cc43f;">Don't Worry! Your email is only used to login. We will not use it for any other purpose.</p>
                              <div class="alert alert-danger alert-regular" style="text-align:center">A user with this email already exists.</div>
                         </div>

                         </div>
                    </div>
               </div>
               <div class="item username-sign-up">
                    <div class="container">
                         <p>What would you like your username to be?</p>
                         <div class="form-group">
                              <input type="text" class="form-control username" placeholder="Username" maxlength="20">
                                <a class="btn btn-default generate-username-btn"> <div class="glyphicon glyphicon-repeat"></div> Generate Username</a>
                              <div class="alert alert-danger alert-profane" style="text-align:center">This username looks to contain profanity. Please try a new one.</div>
                              <div class="alert alert-danger alert-regular" style="text-align:center">Username is unavailable.</div>
                         </div>
                    </div>
               </div>
               <div class="item avatar-sign-up">
                    <div class="container">
                         <p>Generate your character.</p>
                         <div class="regenerate-avatar-image" src="assets/images/avatars/15.png" alt="..."></div>
                         <div class="row">
                              <div class="col-xs-1">&nbsp;</div>
                              <div class="col-xs-10">
                                   <a class="btn btn-default regenerate-avatar-btn"> <div class="glyphicon glyphicon-repeat"></div> Regenerate your avatar</a>
                              </div>
                              <div class="col-xs-1">&nbsp;</div>
                         </div>
                    </div>
               </div>
               <!--<div class="item team-sign-up">

               </div>-->
               <div class="item confirmation-sign-up">
                    <div class="container">
                          <div class="container">
                         <img src="assets/images/team/1.png" alt="...">
                    </div>
                    </div>
               </div>
          </div>
     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row sign-up-button-container disable">
               <div class="col-xs-6">
                    <a class="btn btn-default sign-up-back-btn carousel-sign-up-btn" style="width:100%;" href="#back" onclick="signUpCarouselDirection = 'left'; $('#carousel-sign-up').carousel('prev');">Back</a>
               </div>
               <div class="nav-divider"></div>
               <div class="col-xs-6">
                    <a class="btn btn-default sign-up-continue-btn carousel-sign-up-btn" style="width:100%;" href="#continue" >Continue</a>
               </div>
          </div>
     </div>
</div>


<!--////////////
Homescreen Page
///////////--->
<div class="page homescreen slideUp">
     <!-- Top Nav Bar -->
     <div class="nav">
          <div class="close " style="display:none;"></div>
          <div class="title" style="margin-left: 0;text-align: center;">Collective Action!</div>
          <a class="main-menu more-details" href="#menu"></a>
     </div>

     <!-- Content -->
     <div class="container avatar-image" >

          <!--<a id="playGame" class="project-launcher btn btn-default more-details artwork" data-project-url="game-client" href="#ucla-game" role="button">Play Now!</a>-->

     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row sign-up-button-container disable">
               <div class="col-xs-6">
                    <!--<a class="btn btn-default more-details" style="width:100%;color:grey" href="#warning">Play</a>-->
                    <a class="btn btn-default more-details" style="width:100%;color:grey" href="#playtest-menu">Play</a>
               </div>
               <div class="nav-divider"></div>
               <div class="col-xs-6">
                    <a class="btn btn-default more-details" style="width:100%;" href="#map">Find Location</a>
               </div>
          </div>
     </div>
     <!--<div class="intro-footer">
          <div class="row">
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#help" ><span class="glyphicon glyphicon-question-sign"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#scoreboard"><span class="glyphicon glyphicon-th-list"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#map" ><span class="glyphicon glyphicon-map-marker"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details logout" style="width:100%;" href="#log-out"><span class="glyphicon glyphicon-log-out"></span></a>
               </div>
          </div>
     </div>-->
</div>

<!--////////////
Menu Page
///////////--->
<div class="page menu">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Menu</div></div>

     <!-- Content -->
     <div class="container" style="padding-top: 50px;">
          <!--<a class="more-details" href="#map">Locations</a>-->
          <!--<a class="more-details" href="#game-scores">Scoreboard</a>-->
          <a class="more-details" href="#how-to-play">How to Play</a>
          <a class="more-details" href="#about">About</a>
          <a class="more-details logout" href="#log-out">Log Out</a>
     </div>

</div>


<!--////////////
Menu For Playtest Page
///////////--->
<div class="page playtest-menu">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Which room are you in?</div></div>

     <!-- Content -->
     <div class="container" style="padding-top: 50px;">
      <!--<a class="more-details" href="#map">Locations</a>-->
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=commons" href="#commons" >Commons</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=westbank" href="#westbank" >Westbank</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=littleafrica" href="#littleafrica" >Little Africa</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=rondo" href="#rondo" >Rondo</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=littlemekong" href="#littlemekong">Little Mekong</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=lowertown" href="#lowertown">Lowertown</a>
     </div>

</div>

<!--////////////
Login Page
///////////--->
<div class="page login" style="z-index:9999;">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Login in to your account</div></div>
     <!-- Content -->
     <div class="container">
          <p>Use your email to login and retrieve your avatar!</p>
     	<div class="form-group">
         	     <input class="form-control email-address login" placeholder="Email" type="Email">
               <div class="alert alert-danger alert-regular" style="text-align:center">Sorry there is no user associated with that email.</div>
       	</div>
     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row login-in-button-container disable">
               <a class="btn btn-default btn-primary login-continue-btn carousel-login-btn" style="width:100%;" href="#login" >Login</a>
          </div>
     </div>
</div>


<!--////////////
About Page
///////////--->
<div class="page about scrollable help">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">About</div></div>

     <!-- Content -->
     <div class="container">
          <img style="width: 100%;" src="assets/images/projections/title.png">
          <p><i>Collective Action!</i> invites you to work together with other participants to perform creative, collective actions responding to climate change issues. Start by using your phone to explore the Collective Action! mobile website, create a unique avatar, join a team, navigate to our physical game sites (located at multiple Northern Spark hubs), and prepare to perform! For every action you perform over the course of the night, you’ll earn a point for yourself and your team, which you can track on the website’s game leaderboard.</p>
          <p>&nbsp;</p>
          <p><img style="width: 100%;" src="assets/images/about/sketch.jpg"></p>
          <p>Each <i>Collective Action!</i> game site will activate the climate change theme for its given Northern Spark location, making each instance of Collective Action! a completely unique experience in performance and play. At the <i>Collective Action!</i> site in the water-themed location Little Mekong, you might work together with the entire audience to perform a rainstorm, or with two or three other players to envision a futuristic water-filtration system! </p>
          <p>&nbsp;</p>
          <p><img style="width: 100%;" src="assets/images/about/gameplay.jpg"></p>
          <p></i>Collective Action!</i> draws inspiration from the expansive history of non-competitive group games ranging from the New Games Foundation, to fluxus experiments and performances, and earth day activities. Explore: how can your actions as an individual have a larger impact when they are performed in collaboration with others?</p>
          <p>&nbsp;</p>
          <h2 style="color:#f05a28">The Team</h2>
          <p>Sara Fowler is a Colorado-raised, Minneapolis-based human specializing in graphic design and illustration. She previously worked in-house for the Aspen Art Museum and the Walker Art Center, and is an MCAD graduate (BFA '12). She was recently honored to receive Print Magazine's 2015 Regional Design Annual award, Best in Far West for exhibition catalogue design.</p>
          <p>
          Ben Moren is a Minneapolis based media artist working at the intersection of filmmaking, performance, and creative coding. He is an Assistant Professor at the Minneapolis College of Art and Design teaching in the Media Arts department and the Web+Multimedia Environments major.
          </p>
          <p>
          Tyler Stefanich uses installations, performances, and software-based systems to explore issues related to history, memory and identity. Currently he lives and works in Los Angeles, California, as manager of the UCLA Game Lab, a creative research center that combines art and technology.
          </p>
          <h2 style="color:#f05a28">Project Contributors</h2>
          <p>
          Morgan Erickson-Davis – Fact Checking & Prompt Writing<br>
          John Kim – Ideation & History<br>
          Peter Steineck – Animation <br>
          Brian Hurlow – Programming support <br>
          Alex Rickett – Programming support <br>
          Ned Hurley – Documentation
          </p>
          <h2 style="color:#f05a28">Support</h2>
          <p>Originally presented at Northern Spark 2017 with the support of Northern Lights.mn and The McKnight Foundation.</p>
          <h2 style="color:#f05a28">Additional Support</h2>
          <p>
          <!-- McKnight Foundation<br>
          Northern Lights.mn<br>
          Northern Spark<br> -->
          Minneapolis College of Art and Design<br>
          Macalester College<br>
          UCLA Game Lab<br>
          </p>
          <h2 style="color:#f05a28">2017 Northern Spark Assistants</h2>
          <p>
               Alia Baitie<br>
               Marcus Chaloupek<br>
               Naomi Chan<br>
               Ryan Chiappett<br>
               Sarah Conley<br>
               Zack Deaven<br>
               Alexa Dietz<br>
               Kai Greiner<br>
               Madeline Hendricks<br>
               Veronica Kavass<br>
               Sorie Kim<br>
               Gudrun Lock<br>
               Elin Miller<br>
               Pia Mingkwan<br>
               Larry Phiravanh<br>
               Annalivia Robinson<br>
               Jordan Thomas<br>
               Colin Travis<br>
          </p>
          <h2 style="color:#f05a28">Sources / Footnotes</h2>
          <p>
          Add links
          </p>



     </div>

</div>

<!--////////////
Game Scores Page
///////////--->
<div class="page game-scores scrollable help">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Score Board</div></div>

     <!-- Content -->
     <div class="container">
          Test Score page
     </div>

</div>


<!--////////////
How to Play Page
///////////--->
<div class="page how-to-play scrollable help">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">How To Play</div></div>

     <!-- Content -->
     <div class="container">
          <div class="text-container">
            <p>
            Welcome to <i>Collection Action!</i> Follow the steps bellow to get started:
            </p>

            <p> <span class="important-text">*Allow</span> http://JoinCollectiveAction.com to access your location.</p>

            <p> <span class="important-text">*Recommended:</span> Make a shortcut of http://JoinCollectiveAction.com to your mobile home screen for best experience. Doing so will allow the app to go fullscreen automatically.</p>

            <h2>How to start!</h2>
              <ol>
                <li>In this game, we invite you to collaborate with other festival-goers to perform creative, collective actions that respond to climate change issues.</li>
                <li>Use our map to navigate to the physical <i>Collective Action!</i> game sites located throughout the festival. Once you've reached a game, visit this mobile website, and check in to play!</li>
                <li>On your turn, your phone will prompt you to perform an action in the play area with other festival-goers! Be creative and work together-you might be asked to perform a rainstorm, or imagine a futurstic water-filtration system!</li>
                <li>Earm a point for you and your team each time you perform an action. Check the online scorboard to see how the points stack up.</li>
              </ol>

      </div>
     </div>

</div>

<!--////////////
Scoreboard
///////////--->
<div class="page scrollable scoreboard">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Scoreboard</div></div>

     <!-- Content -->
     <div class="container">
          Scoreboard Scoreboard Scoreboard
     </div>
</div>


<!--////////////
Map Page
///////////--->
<div class="page map">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Map</div></div>

     <!-- Content -->
     <div id="map" ></div>

</div>


<!--////////////
Warning Page
///////////--->
<div class="page warning">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Warning!!!</div></div>

     <!-- Content -->
     <div class="container">

     </div>

</div>





<!--////////////
Log out Page
///////////--->
<div class="page log-out hidden">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close  "></div><div class="title">Logout!</div></div>

     <!-- Content -->
     <div class="container">
          Log out This should not be a page but, logout and reload index.hbs
     </div>
</div>

<!--////////////
Iframe to Games
///////////--->
<div class="artwork close glyphicon glyphicon glyphicon-remove"></div>
<iframe class="iframe project-slide-panel" data-fake-src="blank" src="blank" >
     <!--<video id="vimeoVideo" loop>
     <source src="https://player.vimeo.com/external/178906480.hd.mp4?s=6ecece6b3a4588df24840ee1cc0d9ff11dcabe89&profile_id=174" type="video/mp4">
     <source src="https://player.vimeo.com/external/178906480.m3u8?s=e9c0fd0b5c7f98ca394740ec23579bc03d36fa8d" type="application/x-mpegURL"></video>-->
   </iframe>


{{> footer}}
