{{> header}}
<!--////////////
Loading Page
///////////--->



<div class="page loading">
     <div class="text-container" style="position: relative;top: 50%;transform: translateY(-50%);">
	       <div class="loading-container"><img class="glyphicon-refresh-animate" src="assets/images/loading-screen/loading_sun.png">
	            <br>Locating you on planet earth...<span class="this-forces-font-to-load" style="position:absolute;opacity:0;width:0;overflow:hidden"><strong><i>l</i></strong></span>
	       </div>
	  </div>
</div>


<div class="page geolocation-warning alert alert-danger alert-regular slideUp" style="z-index: 10000;border: 0;background: #f05a28;font-size: 24px;text-align: center;">
     <div class="text-container" style="position: relative;top: 50%;transform: translateY(-50%);">
            Enable your GPS to play!
       </div>
</div>

<!--////////////
Intro Page
///////////--->
<div class="page intro slideUp">
      <div class="intro-header" >
          <div class="nav">
               <div class="col-xs-6">
                    <a class="btn btn-default more-details" style="width:100%;" href="#login">Login</a>
               </div>
               <div class="nav-divider"></div>
               <div class="col-xs-6">
                    <a class="btn btn-default more-details" style="width:100%;" href="#sign-up" >Sign Up</a>
               </div>
          </div>
     </div>

     <!-- Top Nav Bar  // Hidden because the close button is required for my code to close panel-->
     <div class="nav" style="display:none;"><div class="close "></div><div class="title">Intro</div></div>
     <!-- Content -->
     <div id="carousel-intro" class="carousel slide" data-ride="carousel" data-interval="false">

          <!-- Indicators -->
          <ol class="carousel-indicators">
               <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-example-generic" data-slide-to="1"></li>
               <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               <li data-target="#carousel-example-generic" data-slide-to="3"></li>
               <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
               <div class="item active">
                    <div class="container">
                         <img src="assets/images/intro/intro1.png" alt="...">
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/intro2.png" alt="...">
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/intro3.png" alt="...">
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <img src="assets/images/intro/intro4.png" alt="...">
                    </div>
               </div>
               <div class="item">
                    <div class="container">
                         <a class="more-details" href="#sign-up">
                              <img src="assets/images/intro/intro5.png" alt="...">
                         </a>
                    </div>
               </div>

          </div>
     </div>

     <!-- Footer -->

</div>






<!--////////////
Signup Page
///////////--->
<div class="page sign-up">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Let's get started </div></div>
     <!-- Content -->

     <!-- Content -->
     <div id="carousel-sign-up" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
               <div class="item email-sign-up active">
                    <div class="container">
                         <div>
                         <p>What's your email address?</p>

                         <div class="form-group">
                              <input class="form-control email-address" placeholder="Email"  type="Email">
                              <p style="margin-top:16px;font-size:14px;color:#8cc43f;">Don't Worry! Your email is only used to login. We will not use it for any other purpose.</p>
                              <div class="alert alert-danger alert-regular" style="text-align:center">A user with this email already exists.</div>
                         </div>

                         </div>
                    </div>
               </div>
               <div class="item username-sign-up">
                    <div class="container">
                         <p>What would you like your username to be?</p>
                         <div class="form-group">
                              <input type="text" class="form-control username" placeholder="Username" maxlength="20">
                                <a class="btn btn-default generate-username-btn"> <div class="glyphicon glyphicon-repeat"></div> Generate Username</a>
                              <div class="alert alert-danger alert-profane" style="text-align:center">This username looks to contain profanity. Please try a new one.</div>

                              <div class="alert alert-danger alert-regular" style="text-align:center">Username is unavailable.</div>


                              <div class="alert alert-danger alert-special-characters" style="text-align:center">Username is invalid. Only letters and numbers are allowed.</div>

                               <div class="alert alert-danger alert-spaces" style="text-align:center">Username is invalid. No Spaces. Only letters and numbers are allowed.</div>
                         </div>
                    </div>
               </div>
               <div class="item avatar-sign-up">
                    <div class="container">
                         <p>Generate your character.</p>
                         <div class="regenerate-avatar-image"></div>
                         <div class="row">
                              <!--<div class="col-xs-1">&nbsp;</div>-->
                              <div class="col-xs-12">
                                   <a class="btn btn-default regenerate-avatar-btn"> <div class="glyphicon glyphicon-repeat"></div> Regenerate your avatar</a>
                              </div>
                              <!--<div class="col-xs-1">&nbsp;</div>-->
                         </div>
                    </div>
               </div>
               <!--<div class="item team-sign-up">

               </div>-->
               <div class="item confirmation-sign-up">
                    <div class="container">
                         <div class="image" ></div>
                    </div>
               </div>
          </div>
     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row sign-up-button-container disable">
               <div class="col-xs-6">
                    <a class="btn btn-default sign-up-back-btn carousel-sign-up-btn" style="width:100%;" href="#back" >Back</a>
               </div>
               <div class="nav-divider"></div>
               <div class="col-xs-6">
                    <a class="btn btn-default sign-up-continue-btn carousel-sign-up-btn" style="width:100%;" href="#continue" >Continue</a>
               </div>
          </div>
     </div>
</div>


<!--////////////
Homescreen Page
///////////--->
<div class="page homescreen slideUp">
     <!-- Top Nav Bar -->
     <div class="nav">
          <div class="close " style="display:none;"></div>
          <div class="title" style="margin-left: 0;text-align: center;">Collective Action!</div>
          <a class="main-menu more-details" href="#menu"></a>
          <a class="main-menu-share more-details" href="#menu-share"></a>


     </div>

     <!-- Content -->
     <div class="container avatar-image" >

          <!--<a id="playGame" class="project-launcher btn btn-default more-details artwork" data-project-url="game-client" href="#ucla-game" role="button">Play Now!</a>-->

     </div>
     <div class="stats">
          <div class="top">
               <div class="team-id col-xs-4"></div>
               <!--<div class="team-scores col-xs-3">236</div>-->
               <div class="my-score col-xs-4">8</div>
               <div class="locations-visited col-xs-4">2/6</div>
          </div>
          <div class="bottom">
               <div class="team-id col-xs-4">Air<br>Team</div>
               <!--<div class="team-scores col-xs-3">Team<br>Actions</div>-->
               <div class="my-score col-xs-4">My<br>Actions</div>
               <div class="col-xs-4">Locations<br>Visited</div>
          </div>


     </div>


     <!-- Footer -->
     <div class="intro-footer">
          <div class="row sign-up-button-container disable">
               <div class="col-xs-6">
                    <!--<a class="btn btn-default more-details" style="width:100%;color:grey" href="#warning">Play</a>-->
                    <div class="play-buttons-container">
                         <a class="btn btn-default more-details play-button warning" style="width:100%;color:grey" href="#warning">Play</a>
                    </div>
               </div>
               <div class="nav-divider"></div>
               <div class="col-xs-6">
                    <a class="btn btn-default more-details" style="width:100%;" href="#map">Find Location</a>
               </div>
          </div>
     </div>
     <!--<div class="intro-footer">
          <div class="row">
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#help" ><span class="glyphicon glyphicon-question-sign"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#scoreboard"><span class="glyphicon glyphicon-th-list"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details" style="width:100%;" href="#map" ><span class="glyphicon glyphicon-map-marker"></span></a>
               </div>
               <div class="col-xs-3">
                    <a class="btn btn-default more-details logout" style="width:100%;" href="#log-out"><span class="glyphicon glyphicon-log-out"></span></a>
               </div>
          </div>
     </div>-->
</div>

<!--////////////
Menu Page
///////////--->
<div class="page menu">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Menu</div></div>

     <!-- Content -->
     <div class="container" style="padding-top: 50px;">
          <!--<a class="more-details" href="#map">Locations</a>-->
          <!--<a class="more-details" href="#game-scores">Scoreboard</a>-->
          <a class="more-details" href="#how-to-play">How to Play</a>
          <a class="more-details" href="#game-scores">Scoreboard</a>
          <a class="more-details" href="#about">About</a>
          <a class="more-details" href="#contact">Contact</a>
          <a class="more-details logout" href="#log-out">Log Out</a>
     </div>

</div>


<!--////////////
Menu Share Page
///////////--->
<div class="page menu-share">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Share Your Avatar</div></div>

     <!-- Content -->
     <div class="container" style="padding-top: 50px;">
          <a id="save-button" class="social-media" href="/images/myw3schoolsimage.jpg" download="w3logo"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Save Avatar Image</a>
          <a id="save-button-instagram" class="social-media" href="/images/myw3schoolsimage.jpg" download="w3logo"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Save Instagram Image</a>
          <a id="facebook" class="social-media" href="http://www.facebook.com/sharer/sharer.php?u=<?php echo $permalink ?>&amp;t=<?php echo $title ?>" target="_blank" >Facebook</a>
          <a id="twitter" class="social-media" href="https://twitter.com/intent/tweet?text=<?php echo $title; ?>&amp;url=<?php echo $permalink ?>&amp;source=" target="_blank" >Twitter</a>
          <!--<a href="http://www.tumblr.com/share?v=3&amp;u=<?php echo $permalink ?>&amp;t=<?php echo $title; ?>&amp;s=" target="_blank" id="tumblr" class="social-media" >Tumblr</a>-->
          <a href="sms:/* phone number here */&body=/* body text here */" target="_blank" id="text-message" class="social-media" >Text Message</a>
          <a id="email" class="social-media" href="mailto: ?subject=<?php echo $title; ?>&amp;body=<?php echo $permalink ?>" target="_blank" >Email</a>

     </div>

</div>


<!--////////////
Menu For Playtest Page
///////////--->
<div class="page playtest-menu">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Which location are you at?</div></div>

     <!-- Content -->
     <div class="container" style="padding-top: 50px;">
      <!--<a class="more-details" href="#map">Locations</a>-->
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=commons" href="#commons" >Commons</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=westbank" href="#westbank" >Westbank</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=littleafrica" href="#littleafrica" >Little Africa</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=rondo" href="#rondo" >Rondo</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=littlemekong" href="#littlemekong">Little Mekong</a>
          <a class="more-details project-launcher artwork" data-project-url="game-client?location=lowertown" href="#lowertown">Lowertown</a>
     </div>

</div>

<!--////////////
Login Page
///////////--->
<div class="page login" style="z-index:9999;">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Login in to your account</div></div>
     <!-- Content -->
     <div class="container">
          <p>Use your email to login and retrieve your avatar!</p>
     	<div class="form-group">
         	     <input class="form-control email-address login" placeholder="Email" type="Email">
               <div class="alert alert-danger alert-regular" style="text-align:center">Sorry there is no user associated with that email.</div>
       	</div>
     </div>

     <!-- Footer -->
     <div class="intro-footer">
          <div class="row login-in-button-container disable">
               <a class="btn btn-default btn-primary login-continue-btn carousel-login-btn" style="width:100%;" href="#login" >Login</a>
          </div>
     </div>
</div>


<!--////////////
About Page
///////////--->
<div class="page about scrollable help">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">About</div></div>

     <!-- Content -->
     <div class="container">
          <img style="width: 100%;" src="assets/images/about/collectiveaction_avatars-2.jpg">
          <p><i>Collective Action!</i> invites you to work together with other participants to perform creative, collective actions responding to climate change issues. Start by using your phone to explore the Collective Action! mobile website, create a unique avatar, join a team, navigate to our physical game sites (located at multiple Northern Spark hubs), and prepare to perform! For every action you perform over the course of the night, you’ll earn a point for yourself and your team, which you can track on the website’s game leaderboard.</p>
          <p>&nbsp;</p>
          <p><img style="width: 100%;" src="assets/images/about/spark_playtest_red.jpg"></p>
          <p>Each <i>Collective Action!</i> game site will activate the climate change theme for its given Northern Spark location, making each instance of Collective Action! a completely unique experience in performance and play. At the <i>Collective Action!</i> site in the water-themed location Little Mekong, you might work together with the entire audience to perform a rainstorm, or with two or three other players to envision a futuristic water-filtration system! </p>
          <p>&nbsp;</p>
          <p><img style="width: 100%;" src="assets/images/about/spark_playtest_red2.jpg"></p>
          <p></i>Collective Action!</i> draws inspiration from the expansive history of non-competitive group games ranging from the New Games Foundation, to fluxus experiments and performances, and earth day activities. Explore: how can your actions as an individual have a larger impact when they are performed in collaboration with others?</p>
          <p>&nbsp;</p>
          <h2 style="color:#f05a28">The Team</h2>
          <p>Sara Fowler is a Colorado-raised, Minneapolis-based human specializing in graphic design and illustration. She previously worked in-house for the Aspen Art Museum and the Walker Art Center, and is an MCAD graduate (BFA '12). She was recently honored to receive Print Magazine's 2015 Regional Design Annual award, Best in Far West for exhibition catalogue design.</p>
          <p>
          Ben Moren is a Minneapolis based media artist working at the intersection of filmmaking, performance, and creative coding. He is an Assistant Professor at the Minneapolis College of Art and Design teaching in the Media Arts department and the Web+Multimedia Environments major.
          </p>
          <p>
          Tyler Stefanich uses installations, performances, and software-based systems to explore issues related to history, memory and identity. Currently he lives and works in Los Angeles, California, as manager of the UCLA Game Lab, a creative research center that combines art and technology.
          </p>
          <h2 style="color:#f05a28">Project Contributors</h2>
          <p>
          Morgan Erickson-Davis – Fact Checking & Prompt Writing<br>
          Ned Hurley – Documentation <br>
          Brian Hurlow – Programming support <br>
          John Kim – Ideation & History<br>
          Alex Rickett – Programming support <br>
          Peter Steineck – Animation <br>
          Tandem Made – Metal Fabrication
          </p>
          <h2 style="color:#f05a28">Support</h2>
          <p>Originally presented at Northern Spark 2017 with the support of Northern Lights.mn and The McKnight Foundation.</p>
          <h2 style="color:#f05a28">Additional Support</h2>
          <p>
          <!-- McKnight Foundation<br>
          Northern Lights.mn<br>
          Northern Spark<br> -->
          Minneapolis College of Art and Design<br>
          Macalester College<br>
          UCLA Game Lab<br>
          </p>
          <h2 style="color:#f05a28">2017 Northern Spark Assistants</h2>
          <p>
               Alia Baitie<br>
               Marcus Chaloupek<br>
               Naomi Chan<br>
               Ryan Chiappett<br>
               Sarah Conley<br>
               Zack Deaven<br>
               Alexa Dietz<br>
               Kai Greiner<br>
               Britney Hansen<br>
               Madeline Hendricks<br>
               Veronica Kavass<br>
               Sorie Kim<br>
               Gudrun Lock<br>
               Elin Miller<br>
               Pia Mingkwan<br>
               Larry Phiravanh<br>
               Annalivia Robinson<br>
               Jordan Thomas<br>
               Colin Travis<br>
          </p>
          <h2 style="color:#f05a28">Sources</h2>
<p>

          <div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.ajol.info/index.php/ajest/article/view/135371">Impacts of climate change, variability and adaptation strategies on agriculture in semi arid areas of Tanzania: The case of Manyoni District in Singida Region, Tanzania</a> - M.A. Lema and A.E. Majule - Academic Paper</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.researchgate.net/profile/Ove_Hoegh-Guldberg/publication/44683425_The_Impact_of_Climate_Change_on_the_World's_Marine_Ecosystems/links/00b49516254ecbc78b000000.pdf">The Impact of Climate Change on the World’s Marine Ecosystems</a> - Ove Hoegh-Guldberg and John F. Bruno - Academic Paper</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://repository.lib.fit.edu/bitstream/handle/11141/296/E20141663.pdf?sequence=1">A depth refugium from catastrophic coral bleaching prevents regional extinction</a> - Tyler B. Smith, Peter W. Glynn, Juan L. Mate´, Lauren T. Toth, and Joanna Gyory - Academic Paper</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://academic.oup.com/icesjms/article/65/3/414/789605/Impacts-of-ocean-acidification-on-marine-fauna-and">Impacts of ocean acidification on marine fauna and ecosystem processes</a> - Victoria J. Fabry, Brad A. Seibel, Brad A. Seibel, James C. Orr - Academic Paper</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://academic.oup.com/bioscience/article/60/8/602/305152/Climate-Change-and-Bark-Beetles-of-the-Western">Climate Change and Bark Beetles of the Western United States and Canada: Direct and Indirect Effects</a> - Barbara J. Bentz  Jacques Régnière  Christopher J Fettig  E. Matthew Hansen Jane L. Hayes  Jeffrey A. Hicke  Rick G. Kelsey  Jose F. Negrón  Steven J. Seybold - Academic Paper</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.researchgate.net/publication/225420162_Climate_change_in_Nepal_and_its_impact_on_Himalayan_glaciers">Climate change in Nepal and its impact on Himalayan glaciers</a> - Arun B. Shrestha, Raju Aryal - Academic Paper</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.aljazeera.com/indepth/features/2016/01/india-monsoons-change-rain-160124090758074.html">India's monsoons: A change in the rain</a> - Grace Boyle - Aljazeera</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.businessinsider.com/russian-exploding-permafrost-methane-craters-global-warming-2016-6">Giant holes are bursting open in Siberia, and you can hear the explosions from 60 miles away</a> - Sarah Kramer and Dave Mosher - Buisness Insider</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://climate.org/archive/topics/climate-change/migratory-birds-climate-change.html">Flying is no escape: Migratory birds and Climate change</a> - Luisanna Carrillo-Rubio - Climate.org</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.hcn.org/articles/change-in-management-strategy-means-change-of-scenery-for-threatened-trout-species">Glacier National Park reshuffles native trout</a> - Bryce Gray - High Country News</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.livescience.com/47151-ants-trap-carbon-weathering-minerals.html">Can Ants Save the World from Climate Change?</a> - Becky Oskin - livescience.com</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.livescience.com/41995-how-do-solar-panels-work.html">How Do Solar Panels Work?</a> - Michael Dhar - livescience.com</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.livescience.com/3863-animals-plants-adapting-climate-change.html">Animals and Plants Adapting to Climate Change</a> - Ker Than - livescience.com</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://modernfarmer.com/2014/10/get-watch-bird/">Guinea Fowl: Your Overlooked Backyard Buddy</a> - Hannah Winkler - Modern Farmer</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://news.mongabay.com/2014/04/from-seals-to-starfish-polar-bears-radically-shift-diet-as-habitat-melts/">From seals to starfish: polar bears radically shift diet as habitat melts</a> -  Andrew Mann - Mongabay</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://news.mongabay.com/2014/03/can-penguins-cope-with-climate-change-scientists-find-different-types-of-ice-elicit-different-responses/">Can penguins cope with climate change? Scientists find different types of ice elicit different responses</a> - Tiffany Roufs - Mongabay</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://news.mongabay.com/2014/04/rainforests-on-fire-climate-change-is-pushing-the-amazon-over-the-edge/">Rainforests on fire: climate change is pushing the Amazon over the edge</a> - Morgan Erickson-Davis - Mongabay</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://news.mongabay.com/2016/05/dams-flood-36000-hectares-brazilian-rainforest/">DAMS FLOOD 36,000 HECTARES OF BRAZILIAN RAINFOREST</a> - Morgan Erickson-Davis - Mongabay</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://news.mongabay.com/2016/03/researchers-unearth-the-surprising-secret-of-indias-dancing-frogs/">Researchers unearth the surprising secret of India’s dancing frogs</a> - Morgan Erickson-Davis - Mongabay</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://climate.nasa.gov/causes/">Global Climate Change, Vital Signs of the Planet</a> - NASA - National Aeronautics and Space Administration</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://climate.nasa.gov/news/482/cleaning-the-air-would-limit-short-term-climate-warming/">cleaning-the-air-would-limit-short-term-climate-warming</a> - Adam Voiland - National Aeronautics and Space Administration</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://news.nationalgeographic.com/news/2004/02/0204_040204_mangroves.html">Mangroves Are Nurseries for Reef Fish, Study Finds</a> - John Roach - National Geographic</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://news.nationalgeographic.com/news/2008/11/081105-fewer-lemmings_2.html">Global Warming Threatens Lemmings in Norway</a> - Kate Ravilious - National Geographic</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://news.nationalgeographic.com/news/2009/07/090731-green-sahara_2.html">Sahara Desert Greening Due to Climate Change?</a> - James Owen - National Geographic</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://news.nationalgeographic.com/news/2014/05/140506-climate-change-adaptation-evolution-coral-science-butterflies/">How a Few Species Are Hacking Climate Change</a> - Emma Marris - National Geographic</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.nsf.gov/news/special_reports/clouds/question.jsp">Clouds: The wildcard of climatechange</a> - National Science Foundation - National Science Foundation</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.nrdc.org/onearth">On Earth</a> - Natural Resources Defense Council - Natural Resources Defense Council</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.nrdc.org/stories/moss-saved-portland">The Moss That Saved Portland</a> - Becca Cudmore - Natural Resources Defense Council</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.nrdc.org/onearth/attwaters-prairie-chicken-dances-face-destruction">The Attwater’s Prairie Chicken Dances in the Face of Destruction</a> - Jason Bittel - Natural Resources Defense Council</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.nrdc.org/onearth/shhh-baby-whales-are-trying-whisper-around-here">Shhh! Baby Whales Are Trying to Whisper Around Here!</a> - Jason Bittel - Natural Resources Defense Council</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://mobile.nytimes.com/2017/04/20/world/canada/iceberg-ferryland-newfoundland.html?referer=http://m.facebook.com">A Chunk of the Arctic Stops By for a Photo Shoot</a> - Dan Levin - New York Times</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://oregonstate.edu/ua/ncs/archives/2015/feb/global-warming-increase-ocean-upwelling-fisheries-impact-uncertain">Global warming to increase ocean upwelling, but fisheries impact uncertain</a> - David Stauth - Oregon State University</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://ecosystems.psu.edu/research/projects/deer/news/2015/weather-and-climate">Will Climate Change Change Deer?</a> - Duane Diefenbach - Penn State University</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://phys.org/news/2013-08-antarctic-seas-impact-krill-habitats.html">Warming Antarctic seas likely to impact on krill habitats</a> - Simeon Hill, Tony Phillips, Angus Atkinson - phys.org</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://phys.org/news/2016-04-climate-most-threatened-african-antelopes-jeopardy.html">Climate change puts most-threatened African antelopes in 'double jeopardy'</a> - Payne and Bro-Jørgensen - phys.org</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://phys.org/news/2013-03-dragonflies-climate-indicators.html">Dragonflies, as climate change indicators</a> - Constanze Böttcher - phys.org</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://uk.reuters.com/article/uk-globalwarming-migration-idUKL0729128920070507?pageNumber=2&amp;virtualBrandChannel=0">Migratory birds and whales confused by warming</a> - Alister Doyle - Reuters</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.sciencedaily.com/releases/2012/01/120112142241.htm">Wandering albatross alters its foraging due to climate change</a> - Helmholtz Association of German Research Centres - sciencedaily.com</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.scientificamerican.com/article/plant-smell-climate/">Climate Change May Make Plants More Fragrant</a> - Gayathri Vaidyanathan - Scientific American</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.smithsonianmag.com/travel/take-hike-through-largest-living-organisms-180962427/">Where to Hike to (and Through) the World’s Largest Organisms</a> - Jennifer Billock - Smithsonian</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.smithsonianmag.com/innovation/can-we-capture-energy-hurricane-180960750/">Can We Capture Energy From a Hurricane?</a> - Michelle Z. Donahue - Smithsonian</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://tedxinnovations.ted.com/2017/04/03/can-small-birds-keep-up-with-climate-change/">Can small birds keep up with climate change?</a> - Hailey Reissman - Ted X</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.theguardian.com/environment/2016/dec/28/climate-change-driving-birds-migrate-early-research-reveals-edinburgh-global-warming">Climate change driving birds to migrate early, research reveals</a> - Nadia Khomami - The Guardian</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.theguardian.com/commentisfree/2017/apr/21/rivers-vanishing-thin-air-climate-crisis">Rivers vanishing into thin air: this is what the climate crisis looks like</a> - David Suzuki - The Guardian</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.theguardian.com/world/2017/apr/19/ferryland-iceberg-newfoundland-canada">Cold snap: massive iceberg just off coast draws Canadians eager for close-up</a> - Ashifa Kassam - The Guardian</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.theguardian.com/news/2017/apr/20/reasons-fear-next-uk-heatwave-weatherwatch">Reasons to fear the next UK heatwave</a> - Paul Brown - The Guardian</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.theguardian.com/global-development-professionals-network/2017/apr/14/six-megatrends-that-could-alter-the-course-of-sustainable-development">Six megatrends that could alter the course of sustainable development</a> - Esuna Dugarova and Nergis Gülasan - The Guardian</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3350657/">Ecophysiology meets conservation: understanding the role of disease in amphibian population declines</a> - Andrew R. Blaustein, Stephanie S. Gervasi, Pieter T. J. Johnson, Jason T. Hoverman, Lisa K. Belden, Paul W. Bradley, and Gisselle Y. Xie - The Royal Society</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.fs.usda.gov/ccrc/topics/effects-climate-change-mammals">The Effects of Climate Change on Mammals</a> - Kevin S. McKelvey, Roger W. Perry, L. Scott Mills - United States Department of Agraculture</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://19january2017snapshot.epa.gov/climatechange_.html">Climate Change</a> - United States Environmental Protection Agency - United States Environmental Protection Agency</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.epa.gov/nutrientpollution/climate-change-and-harmful-algal-blooms">Climate Change and Harmful Algal Blooms</a> - United States Environmental Protection Agency</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://scied.ucar.edu/longcontent/climate-mitigation-and-adaptation">Climate Mitigation and Adaptation</a> - UCAR Center for Science Education - University Corporation for Atmospheric Research</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://passel.unl.edu/pages/informationmodule.php?idinformationmodule=1092853841&amp;topicorder=6">Transpiration - Water Movement through Plants</a> - Tracy M. Sterling - University of Nebraska</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="https://www.worldwildlife.org/pages/monarch-butterflies-and-climate-change">Monarch Butterflies and climate change</a> - World Wildlife Foundation</div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://e360.yale.edu/features/bee_collapse_co2_climate_change_agriculture">How Rising CO2 Levels May Contribute to Die-Off of Bees</a> - LISA PALMER - Yale School of Forestry </div><div class="source-container" style="text-indent:0px;margin-left:40px;"><a href="http://www.sciencedirect.com/science/article/pii/S0022191014000808">Effects of temperature and moisture on Mormon cricket reproduction with implications for responses to climate change</a> - Robert B. Srygley - </div></p>



     </div>

</div>

<!--////////////
Game Scores Page
///////////--->
<div class="page game-scores scrollable help">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Score Board</div></div>

     <!-- Content -->
     <div class="container">
          <h2 style="text-align:center; color: #f05a28">TEAM SCORES</h2>
          <div class="teamScores">

          </div>
          <h2 style="text-align:center; color:#f05a28">HIGH SCORES</h2>
          <div class="scoreBoard">

          </div>
     </div>

</div>


<!--////////////
How to Play Page
///////////--->
<div class="page how-to-play scrollable help">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">How To Play</div></div>

     <!-- Content -->
     <div class="container">
          <div class="text-container">
            <p>
            Welcome to <i>Collection Action!</i> Follow the steps below to get started:
            </p>

            <!--<p> <span style="color:#f05a28">*Allow</span> http://JoinCollectiveAction.com to access your location.</p>-->

            <p> <span style="color:#f05a28">*Recommended:</span> Make a shortcut of http://JoinCollectiveAction.com to your mobile home screen for best experience. Doing so will allow the app to go fullscreen automatically.</p>

            <h2 style="color:#f05a28">How to play!</h2>
              <ol>
                <li>Click "Find a Location" to navigate to the game sites throughout the festival. Each site has different games, so visit as many as you can!</li>
                <li>Once you've reached a game, visit this mobile website, click "Play".</li>
                <li>Your phone will prompt you to perform an action with other festival-goers. Be creative and work together!</li>
                <li>Earn a point for you and your team each time you perform an action. Check the online scoreboard to see how the points stack up.</li>
              </ol>

      </div>
     </div>

</div>

<!--////////////
Scoreboard
///////////--->
<div class="page scrollable scoreboard">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Scoreboard</div></div>

     <!-- Content -->
     <div class="container">
          Scoreboard Scoreboard Scoreboard
     </div>
</div>


<!--////////////
Scoreboard
///////////--->
<div class="page scrollable contact">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Contact</div></div>

     <!-- Content -->
     <div class="container">
          <p>
              Please contact us for any media, technical or general inguires about Collective Action! at <a href="mailto:hello@collectiveaction.info">hello@collectiveaction.info</a>
            </p>
     </div>
</div>







<!--////////////
Warning Page
///////////--->
<div class="page warning">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Warning!!!</div></div>

     <!-- Content -->
     <div class="container">
          <a class="more-details warning-find-locations" href="#map" style="height: 60%;position:absolute;bottom:0;width:100vw;" ></a>

     </div>

</div>


<!--////////////
Map Page
///////////--->
<div class="page map">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close "></div><div class="title">Map</div></div>

     <!-- Content -->
     <div id="map" ></div>

</div>



<!--////////////
Log out Page
///////////--->
<div class="page log-out hidden">
     <!-- Top Nav Bar -->
     <div class="nav"><div class="close  "></div><div class="title">Logout!</div></div>

     <!-- Content -->
     <div class="container">
          <!--Log out This should not be a page but, logout and reload index.hbs-->
     </div>
</div>

<!--////////////
Iframe to Games
///////////--->
 <div class="nav artwork close" style="width:auto;height:50px;z-index: 999999; border-bottom: 2px solid #f05a28;"><div class=" artwork close" style="position: absolute;
    padding-left: 16px;
    padding-top: 14px;
    left: 0;

    padding-right: 68px;
    z-index: 9;
    padding-bottom: 10px;
    opacity: 1;

    background-image: url(/assets/images/backarrow/backarrow.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% auto;
    overflow: hidden;
    height: 50px;"></div><div class="title"></div></div>
<!--<div class="artwork close glyphicon glyphicon glyphicon-remove"></div>-->

<iframe class="iframe project-slide-panel" data-fake-src="blank" src="blank" >
     <!--<video id="vimeoVideo" loop>
     <source src="https://player.vimeo.com/external/178906480.hd.mp4?s=6ecece6b3a4588df24840ee1cc0d9ff11dcabe89&profile_id=174" type="video/mp4">
     <source src="https://player.vimeo.com/external/178906480.m3u8?s=e9c0fd0b5c7f98ca394740ec23579bc03d36fa8d" type="application/x-mpegURL"></video>-->
   </iframe>


{{> footer}}
